#myBtn {
    float: right;
    margin-right: 10px;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(9, 156, 17); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.column {
    float: left;
    text-align: center;
    background-color: rgb(94, 238, 214);
    width: calc(33% - 30px);
    margin: 2px;
    border: 5px solid gray;
    padding: 2px;
}

img {
  width: 30vw;
  margin: 3rem;
}

li {
  display: inline;
}

.finish {
  margin-top: 150px; 
}




