#myBtn {
    float: right;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: rgb(9, 156, 17);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.column {
    float: left;
    text-align: center;
    background-color: rgb(94, 238, 214);
    width: calc(33% - 30px);
    margin: 2px;
    border: 5px solid gray;
    padding: 2px;
}

.columngallery {
  float: left;
  background-color: rgb(94, 238, 214);
  width: calc(33% - 30px);
  margin: 2px;
  padding: 2px;
}

img {
  width: 650px;
  margin: 25px;
  box-shadow: 4px 4px 6px gray
}

li {
  display: inline;
}

.finish {
  margin-top: 150px; 
}

.oszlop {
  text-align: left;
}

/* Create two equal columns that floats next to each other */
.singlecolumn {
  float: left;
  width: 50%;
  padding: 0px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .singlecolumn {
    width: 100%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.imgform {
  width: 360px;
  height: 240px;
}

.description {
  display: inline-block;
  width: 28%;
  padding: 30px;
  margin: 10px;
}

.list {
    text-align: left;
    margin: 20px;
}